fastapi[standard]
sqlalchemy
asyncpg
pydantic
python-dotenv
greenlet
alembic
pydantic[email]
pyjwt
python-multipart
pwdlib[bcrypt]
fastapi-users[sqlalchemy]
python-slugify
aiosql
redis
strawberry-graphql