fastapi
uvicorn
sqlalchemy
asyncpg
pydantic
python-dotenv
greenlet
alembic
pydantic[email]
pyjwt
#passlib[bcrypt]
python-multipart
pwdlib[bcrypt]
pytest
fastapi-users[sqlalchemy]
python-slugify
aiosql
redis
strawberry-graphql

