@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';

:root {
  --bg-body: #1c1c1c;          /* The main background */
  --bg-surface: #161616;       /* Cards, dialogs, dropdowns */
  --bg-inset: #1a1a1a;         /* Inputs, code blocks, or secondary backgrounds */
  --bg-hover: #282828;         /* Interactive states */
  
  --text-primary: #f2f2f2;  
    --text-secondary: #b9b9b9;     /* Headings, paragraphs, links */
   /* Headings, paragraphs, links */
  --text-muted: #6e7174;       /* Secondary text, inactive states */
  
  --border-color: #333333;     /* Dividers, borders, outlines */
}

@theme {
  --color-app: var(--bg-body);
  --color-surface: var(--bg-surface);
  --color-inset: var(--bg-inset);
  
  --color-primary: var(--text-primary);
   --color-secondary: var(--text-secondary);
  --color-muted: var(--text-muted);
  
  --color-border: var(--border-color);
}

/* --- 2. Base Document --- */
html,
body,
#app {
  min-height: 100%;
  background-color: var(--bg-body);
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Regular weight for reading text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
